{% extends 'base.html.twig' %}

{% block titrePage %}{{formation.Formation}}{% endblock %}

{% block contenuPage %}

    <table class="table">
        <tbody>
            <tr>
                <th>Formation</th>
                <td>{{ formation.Formation }}</td>
            </tr>
            <tr>
                <th>Stages concernés:</th> <td>
                {% for stage in formation.stages %}
                   
                    <a href="{{ path('prostages_stage' , {'id': stage.id}) }}"> {{stage.titre}} - {{stage.entreprise.nom}}</a> <br>

                {% else %}
                    Aucun
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary posD" href="{{ path('formation_edit', {'id': formation.id}) }}"><i class="fas fa-pen"></i> Modifier</a>
    {{ include('formation/_delete_form.html.twig') }}

    <a class="btn btn-light" href="{{ path('formation_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>
{% endblock %}
