{% extends 'base.html.twig' %}

{% block titrePage %}	<!-- TITRE -->

<h2> Stage {{ stage.id }} : {{ stage.titre }} </h2>

{% endblock %}


{% block contenuPage %}	<!-- CONTENU PAGE -->

	<div class="row">

		<!-- Offre stage -->
		<div class="col-md-8 col-sm-12"> 

			<b> Formations: </b> <br> 

			{% for formation in stage.formation %}

			- {{ formation.Formation }} <br>

			{% endfor %}

			<br> <b> Description: </b> <br>

			{{stage.description}} <br> <br>

		</div>

		<!-- Info entreprise -->
		<div class="col-md-4 col-sm-12"> 

			<b> Entreprise: {{ stage.entreprise.nom }} </b> <br> <br>

			Adresse: {{ stage.entreprise.adresse }} <br> <br>

			Activité: {{stage.entreprise.activite}}

		</div>
	</div>


{% endblock %}