{% extends 'base.html.twig' %}



{% block titrePage %}	<!-- TITRE -->

Liste de stages 

{% if filtrerPar is defined %} <!-- Si la liste est filtrée par une entreprise/formation -->

	: {{ filtrerPar }}			<!-- on affiche la formation -->

	<a href="{{ path('prostages_accueil') }}">  <!-- Bouton permettant d'annuler le filtrage -->
		<button type="button" class="btn btn-outline-info" >
			Annuler filtrage 
        </button>
	</a> 

{% endif %}

{% endblock %}



{% block contenuPage %}	<!-- CONTENU PAGE -->

<table class="table">	<!-- Tableau des stages -->
	<thead class="thead-light">
		<tr>
			<th scope="col">Titre</th>
	      	<th scope="col">Entreprise</th>
	      	<th scope="col">Activité</th>
	      	<th scope="col">Adresse</th>
	      	<th scope="col">Description</th>
	      	<th scope="col">Formations</th>
	      	<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody style="font-size:13px">
			{% for stage in stages %}
			<tr>
		        <td> <a href="{{ path('prostages_stage' , {'id': stage.id}) }}"> {{stage.titre}} </a></td>
		        <td> <a href="{{ path('prostages_stagesParEntreprise' , {'nom' : stage.entreprise.nom}) }}"> {{stage.entreprise.nom}} </a></td>
		        <td> {{stage.entreprise.activite}} </a></td>
		        <td> {{stage.entreprise.adresse}} </a></td>
		        <td> {{stage.description | slice(0,40) }} ... </a></td>
		        <td> <p>
		        	{% for formation in stage.formation %} <!-- on affiche toutes les formations concernees -->
		        		<a href="{{ path('prostages_stagesParFormation' , {'formation' : formation.Formation}) }}">{{formation.Formation}} <br>
		        	{% endfor %}
		        	</p>
		        </td>
		        <td> {{stage.email}} </a></td>

		     </tr>
		    {% endfor %}
    	
	</tbody>
</table>

{% endblock %}
