<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/css/styleAdditionnel.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

         <!-- TITRE -->
        <title>{% block title %}ProStages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div class="fluid-container" style="padding:30px">

            <!-- BLOCK HEADER -->
            {% block header %}
            <div class="row my-5" >
                <div class="col-md-12">
                    <h1 align=center>
                        ProStages
                    </h1>
                 </div>
            </div>
            {% endblock %}

            <!-- MENU NAVBAR -->
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('prostages_accueil') }}">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostages_filtrer') }}">Filtrer</a>
                            </li>

                            <!-- Fonctionnalités reservé utilisateur (admin hérite de user)-->
                            {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostages_ajouterStage') }}">Ajouter un stage</a>
                            </li>
                            {% endif %}

                            <!-- Fonctionnalités reservé admin -->
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('prostages_ajouterEntreprise')}}">Ajouter une entreprise</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('formation_index')}}">Gérer les formations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('easyadmin')}}"><i class="fas fa-user-cog"></i> Panel admin</a>
                            </li>
                            {% endif %}
                        </ul>
                    

                        <ul class="navbar-nav ml-md-auto">

                                {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_logout')}}">
                                        <i class="fas fa-sign-out-alt"></i> Déconnexion
                                        <span class="sr-only">(current)</span></a>
                                 </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_inscription')}}">
                                    <i class="fas fa-plus-circle"></i> Inscription
                                    <span class="sr-only">(current)</span></a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_login')}}">
                                        <i class="fas fa-user"></i> Connexion
                                    <span class="sr-only">(current)</span></a>
                                 </li>
                                {% endif %}
                          
              
                     

                            
                        </ul>
                    </div>
                </nav>   

            

             <!-- BLOCK CONTENU -->
            {% block contenu %}
            <div class="row my-5">
                <div class="col-md-12">

                    <!-- BLOCK TITRE PAGE -->
                    <h2 style="margin-bottom:2rem">
                    {% block titrePage %} {% endblock %}
                    </h2>
                    <!-- BLOCK CONTENU DE LA PAGE -->
                    {% block contenuPage %} {% endblock %}

                </div>
            </div>

            {% endblock %}

             <!-- BLOCK JAVASCRIPT -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        
            {% block javascript %}
            {% endblock %}
        </div>
    </body>
</html>
